.Note {
    padding: 5px 20px 20px 20px;
}

.Chip {
    margin-right: 5px;
}

.GreaterThan {
    transform: rotate(270deg);
}

.LessThan {
    transform: rotate(90deg);
}

.OneToOne {
    transform: rotate(90deg);
}